.mainWeather{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    border-radius: 20px;
    margin-top: 1px;
    margin-left: 0px;
    color: white;
}



.mainInfo{
    display: flex;
    justify-content: space-evenly;
}
  
#weatherPicture{
    width: 200px;
    margin: 0;
}

#time{
    font-size: 2em;
}

#location{
    font-size: .8em;
}